<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.ICctvMapper">

    <!--수집된 cctv 정보 DB에 등록-->
    <insert id="insertCctvInfo" parameterType="CctvResultDTO">
        INSERT INTO CCTV
            (CCTV_URL, COORDX, COORDY, CCTV_NAME)
            VALUES (#{cctvUrl}, #{coordX}, #{coordY}, #{cctvName})
    </insert>

    <delete id="deleteCctvInfo" parameterType="CctvResultDTO">
        DELETE
        FROM CCTV
    </delete>

</mapper>