<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.ITyphoonMapper">

    <!-- 수집된 실시간 태풍 정보 DB에 등록하기 -->
    <insert id="insertTyphoonLiveInfo" parameterType="TyphoonLiveDTO">
        INSERT INTO TYPHOON_LIVE
            (FT, TYP, SEQ, TYP_TM, FT_TM, LAT, LON, DIR, SP, PS, WS, RAD15, RAD25, LOC)
        VALUES (#{ft}, #{typ}, #{seq}, #{typTm}, #{lat}, #{lon}, #{dir}, #{sp}, #{ps}, #{ws}, #{rad15}, #{rad25}, #{loc})
    </insert>

    <!-- 수집된 실시간 태풍 정보 DB에서 삭제하기 -->
    <delete id="deleteTyphoonLiveInfo" parameterType="TyphoonLiveDTO">
        DELETE
        FROM TYPHOON_LIVE
    </delete>

    <select id="getExists" parameterType="TyphoonLiveDTO" resultType="TyphoonLiveDTO">
        SELECT
            CASE WHEN COUNT(1) = 0 THEN 'N' ELSE 'Y' END AS EXISTSYN
        FROM
            TYPHOON_LIVE
        WHERE
            TYP = #{typ} AND
            FT_TM = #{ftTm}
    </select>

</mapper>